@font-face{
    font-family: "pixelifysans";
        src: 
        url(fonts/pixelifysans-variablefont_wght-webfont.woff) format("woff"),
        url(fonts/pixelifysans-variablefont_wght-webfont.woff2) format("woff2");
    font-weight: normal;
    font-size: normal;
}   

@font-face{
    font-family: "rubikburned";
        src: 
        url(fonts/rubikburned-regular-webfont.woff) format("woff"),
        url(fonts/rubikburned-regular-webfont.woff2) format("woff2");
    font-weight: normal;
    font-size: normal;
}  

:root{

    font:
     1em "pixelifysans",
     monospace;

    color: #fff ;
    text-shadow: #000;


    --header: 
    2rem "rubikburned",
    monospace;
/*  
litegrey #948c94
orange #d0723b    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
litebrown #744932
brown #51382d
gold #f4e292 
black #fff
*/

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

div {
    display: block;
}

body {
    display: block;
} 
/* check top two after */

div.container {
    /* display: flex; */
    flex: auto;
    align-items: center;
}

div.logo {
    flex: auto;
    /* color: #f4e292; */
    display: flex;
    max-width: 40vw;
    min-height: 100vh;
    background-image: url("media/fireBackground.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


img.odin-logo{
    width: 25%;
    height: 25%;
    
}



div.container{
    display: flex;
    flex: auto;
    background-color: #51382d;
}




p.form-title{
    color: orangered ;
    font: var(--header);
    height: 0.5rem;
}


div.content{
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: gray;
}


div.content{
    display: flex;
    /* flex: auto; */
    background-color:rgba(49, 31, 10, 0.201);    
    height: 100vh;
    width: 60vh;
}

    form {
    display: flex;
    flex-flow: row wrap;
    height: 30vh;
    gap: 2rem;
    font-size: 1rem;
    }


        label.field {
        position: relative;
        justify-content: space-evenly;   
        width: 10rem;
        margin-bottom: 15px;
        }

            input{
                margin-top: 3px;
            }


        header, 
        footer{
            /* color: #f4e292; */
            background-color:rgba(49, 31, 10, 0.801);    
            display: table-row;
            height: 30vh;
        }

        footer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;;
        }

            button {
                width:min-content;
            }

            footer>* {
                margin: 20px 40px;
            }


  body {
    display: flex;
    margin: 0px;
  }

  :root {
    /* eeee */
  }