@font-face{
    font-family: "pixelifysans";
        src: 
        url(fonts/pixelifysans-variablefont_wght-webfont.woff) format("woff"),
        url(fonts/pixelifysans-variablefont_wght-webfont.woff2) format("woff2");
    font-weight: normal;
    font-size: normal;
}   

@font-face{
    font-family: "rubikburned";
        src: 
        url(fonts/rubikburned-regular-webfont.woff) format("woff"),
        url(fonts/rubikburned-regular-webfont.woff2) format("woff2");
    font-weight: normal;
    font-size: normal;
}  

:root{

    font:
     1em "pixelifysans",
     monospace;


    --header: 
    1em "rubikburned",
    monospace;
/*  
litegrey #948c94
orange #d0723b
litebrown #744932
brown #51382d
gold #f4e292 
black #fff
*/

}


div.container {
    display: flex;
    flex: auto;
    align-items: center;
}

div.logo {
    flex: auto;
    color: #f4e292;
    display: flex;
    min-width: 25vw;
    min-height: 100vh;
    background-image: url("media/fireBackground.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


img.odin-logo{
    width: 25%;
    height: 25%;
    
}

div.content{
    display: flex;
    flex: auto;
    background-color: #EFECEC;
    min-height: 100vh
}

div.container{
    display: flex;
    flex: auto;
    background-color: #51382d;
}

div#my-form{
    display: flex;
    flex: auto;
     flex-direction: column;
    
}



div.form-title{
    color: #f4e292 ;
    font: var(--header);
    height: 10vh;
    font-size:3em;
    background-color: #744932d2;
}
div.field-container-main{
    display: flex; /*maybe delete this */
    flex: auto;
    height: 30vh;
    background-color: #744932d2;
}

div.field-container{
    display: flex;
    flex: 1 1 0;
    margin: auto;
    width: 100px;
}

div.field-container>div{
    flex: auto;
    margin: auto;
    flex-direction: column;
    margin: 40px;
}


div.field{
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 30px;
}

form {
    display: table-row-group;
     height: 100%;
  }

 header, 
 footer{
    color: #f4e292;
    background-color: black;    
    display: table-row;
    height: 30vh;
  }



  div.field{
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-flow: wrap;
  }

  body {
    display: flex;
  }

  :root {
    display: flex;
  }
  
  div.content {
    align-items: stretch;
  }