@font-face{
    font-family: "pixelifysans";
        src: 
        url(fonts/pixelifysans-variablefont_wght-webfont.woff) format("woff"),
        url(fonts/pixelifysans-variablefont_wght-webfont.woff2) format("woff2");
    font-weight: normal;
    font-size: normal;
}   



:root{

    font:
     1em "pixelifysans",
     monospace;

    color: #fff ;
    text-shadow: #000;


    --header: 
    2rem monospace;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


div.container {
    flex: auto;
    align-items: center;
}

div.logo {
    flex: auto;
    display: flex;
    max-width: 40vw;
    min-height: 100vh;
    background-image: url("media/night.png");
    background-size: cover;
    align-items: center;
    justify-content: space-between;    
    flex-direction: column;
}

div.odin-title{
    margin-top: 5px;
    font: var(--header);
}

img.odin-logo{
    height: 15vh;
    margin-bottom: 35%;
}

div.kudos{
    justify-self: flex-end;
    align-self: flex-end;
    color: rgba(128, 128, 128, 0.432);
    text-shadow: #000;
}


div.container{
    display: flex;
    flex: auto;
    background-color: #19212c;
}




p.form-title{
    color: orangered ;
    font: var(--header);
}


div.content{
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: gray;
    background-color:rgba(49, 31, 10, 0.201);    
    height: 100vh;
    width: 60vh;
}


div.form-container {
    height: 40vh;
}

    form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;  
        height: 70%;
        width: 50%;
    }

        label.field {
        position: relative; 
        width: 10em;
        margin: 1em;
        }

        header, 
        footer{ 
            background-color:#000;   
            display: flex;
            height: 30vh;
            flex-direction: column;
            justify-content: space-between;;
        }

            button {
                width:min-content;
            }
            header>*,
            footer>* {
                margin: 20px 40px;
            }


  body {
    display: flex;
    /* margin: 0px; */
  }


  input {
    border: none;
    outline: 2px solid teal ;
    border-radius: 5px;
  }

  input:user-valid{
    border: none;
    outline: 2px solid green;
    border-radius: 5px;
    accent-color: gold;
  }

  input:user-invalid {
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
    accent-color: gold;
  }